<html>
  <head>
    <title>Project Name</title>
    <link href="styles/app.css" rel="stylesheet" type="text/css" media="screen">
  </head>
  <body>
    <h1> BrainSpace</h1>
    <div id="inputContainer">
      <form id="addNote">
        <textarea name='text' rows='3' cols="35" placeholder="Your new note"></textarea>
        <input name='username' type="text" placeholder="Your name">
        <input type="submit" value="Add note">
      </form>
      <input type="file" accept="image/*" capture="camera" id="file-upload3"> 
    </div>
    <div>
      <span> <strong>i</strong> to zoom in </span> </br>
      <span> <strong>o</strong> to zoom out </span>
    </div>
    <div class='nodes'> </div>
    <script id="nodeTemplate" type="text/template"> 
      <div>
        <strong><span class='text'><%= text %></span></strong> <span class="nodeMenu"><span>(<%= username %>)</span><button class="edit">Edit</edit> <button class="delete">Delete</button></span>
      </div>
    </script>
    <script src="lib/jquery.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/backfire/0.3.0/backbone-firebase.min.js"></script>
    <script src="lib/mousetrap.min.js"></script>
    <script src="compiled/app/models/App.js"></script>

<!--    <script src="compiled/app/views/AppView.js"></script>  

    <script src="compiled/app/main.js"></script>
    
    -->

  </body>
</html>
