<html>
  <head>
    <title>Project Name</title>
    <link href="styles/app.css" rel="stylesheet" type="text/css" media="screen">
  </head>
  <body>
    
    <div id="menuContainer">
      <div>
        <input type='text' placeholder='Search'>
        <span><h1> BrainSpace</h1></span>
        <button>Settings</button>
      </div>
      <div>
        <input type='radio' name='options' id='explore' class='menuButton' checked >Explore</button>
        <label><input type='radio' name='options' id='newNote' class='menuButton'>New Note</button></label>
        <input type='radio' name='options' id='drawGroup' class='menuButton'>Draw Group</button>
        <button class='menuButton'>Draw Arrow</button>
        <button class='menuButton'>Undo / Redo</button>
        <input type="file" accept="image/*" capture="camera" id="file-upload"> 
        <button>Share</button>
      </div>
    </div>
      <div class="inputContainer">
        <form class="addNote">
          <textarea name='text' rows='3' cols="35" placeholder="Your new note"></textarea>
          <br>
          <input name='username' type="text" placeholder="Your name">
          <input type="submit" value="Add note">
        </form>
      </div>
      <div>
        <span> <strong>i</strong> to zoom in </span> </br>
        <span> <strong>o</strong> to zoom out </span>
      </div>
      <div class='nodes'></div>
    <script id="newNoteTemplate" type="text/template">
      <div class="inputContainer">
        <form class="addNote">
          <textarea name='text' rows='3' cols="35" placeholder="Your new note"></textarea>
          <br>
          <input name='username' type="text" placeholder="Your name">
          <input type="submit" value="Add note">
        </form>
      </div>
    </script>
    <script id="nodeTemplate" type="text/template"> 
      <div>
        <strong><span class='text'><%= text %></span></strong> 
        <span>(<%= username %>)</span>
        <span class="nodeMenu">
          <button class="edit">Edit</edit> 
          <button class="delete">Delete</button>
          <span class='imageSizeContainer'> 
            <span>Image size</span><select class='imageSizeSelector' value='100'>
              <option value='10'> 10 </option>
              <option value='25'> 25 </option>
              <option value='50'> 50 </option>
              <option value='100' selected='selected'> 100 </option>
              <option value='200'> 200 </option>
              <option value='400'> 400 </option>       
            </select>
          </span>
        </span>
      </div>
    </script>
    <script src="lib/jquery.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/backfire/0.3.0/backbone-firebase.min.js"></script>
    <script src="lib/mousetrap.min.js"></script>
    <script src="compiled/app/models/App.js"></script>
    <link rel="stylesheet" type="text/css" href="">

<!--    <script src="compiled/app/views/AppView.js"></script>  

    <script src="compiled/app/main.js"></script>
    
    -->

  </body>
</html>
