<html>
  <head>
    <title>Project Name</title>
    <link href="styles/app.css" rel="stylesheet" type="text/css" media="screen">
  </head>
  <body>
    <h1> BrainSpace</h1>
    <form id="addNote">
      <input name='text' type="text" placeholder="Your new note">
      <input name='username' type="text" placeholder="Your name">
      <input type="submit" value="Add note">
    </form>
    <div class='nodes'> </div>
    <script id="nodeTemplate" type="text/template"> 
      <strong><span><%= text %></span></strong> (<%= username %>) <button class="edit">Edit</edit> <button class="delete">Delete</button>
    </script>
    <script src="lib/jquery.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>

    <script src="compiled/app/models/App.js"></script>

<!--    <script src="compiled/app/views/AppView.js"></script>  -->

    <script src="compiled/app/main.js"></script>
  </body>
</html>
