body, html { 
  overflow-x: hidden; 
  overflow-y: hidden; 
}

h1 {
  display: inline;
}

li {
  white-space: nowrap;
}

.nodeMenu {
  visibility: hidden;
  white-space: nowrap;
}

.imageSizeContainer {
  visibility: hidden;
}