body, html { 
  overflow-x: hidden; 
  overflow-y: hidden; 
}

#menuContainer {
  /*position:fixed;*/
  border: 2;
  border-style: solid;
}

.nodes {
  border: 2;
  border-style: solid;
}

h1 {
  display: inline;
}

li {
  white-space: nowrap;
}

.nodeMenu {
  visibility: hidden;
  white-space: nowrap;
}

.imageSizeContainer {
  visibility: hidden;
}